$black:			#000000;
$white: 		#FFFFFF;

$grey-500:		#333333;
$grey-200:		#999999;
$grey-100:      #E4E6E5;
$grey-50:       #F5F5F5;

$blue-500:		#0465AC;

$font-family: 'Noto Sans', sans-serif;

$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-base: 16px;
$font-size-18: 18px;

$thin:      100;
$light:     30;
$regular:   400;
$medium:    500;
$bold:      700;
$black:     900;

$scree-medium:          840px;
$screen-large:          1280px;
$screen-extra-large:    1366px;